/*INPUT CARD*/
textarea {
  width: 90%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px;
  margin: 10px auto;
  font-family: "Roboto Mono", monospace;
  height: 50px;
  font-size: 15px;
  resize: none;
}
label {
  font-size: 13px;
}
.input-card {
  justify-content: center;
  max-width: 400px;
  border: 1px solid black;
  box-shadow: 7px 7px black;
  margin: 30px;
  padding: 15px;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
}

.submit-button {
  background-color: #f3b0af;
  border-radius: 25px;
  border: none;
  padding: 8px;
}

.counter {
  font-size: 10px;
  margin: 0px 0px 10px 0px;
  font-weight: 100;
}
