/*INPUT CARD*/
textarea {
  width: 90%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px;
  margin: 10px auto;
  font-family: "Roboto Mono", monospace;
  height: 50px;
  font-size: 15px;
  resize: none;
}
label {
  font-size: 13px;
}
.align-input {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
select {
  padding: 5px;
  width: 96%;
  border-radius: 3px;
  border-color: gray;
  background-color: white;
  margin-bottom: 20px;
}

.name-input {
  width: 90%;
  border: 1px solid gray;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 0;
  font-family: "Roboto Mono", monospace;
  height: 15px;
  font-size: 15px;
  resize: none;
}
.input-card {
  justify-content: center;
  max-width: 400px;
  border: 1px solid black;
  box-shadow: 7px 7px black;
  margin: 30px;
  padding: 15px;
  background-color: rgb(228, 228, 228);
  border-radius: 3px;
}

.submit-button {
  background-color: #f3b0af;
  border-radius: 25px;
  border: none;
  padding: 8px;
}
.center-button {
  display: flex;
  justify-content: center;
}

.counter {
  font-size: 10px;
  margin: 0px 0px 10px 0px;
  font-weight: 100;
}
